@import "@fontsource/roboto";

html, body {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

:root {
    --light-info: #eaf3ff;
    --info: #095b8d;
    --light-warning: #fdffea;
    --warning: #8d6a09;
    --light-danger: #ffeaea;
    --danger: #8d0909;
    --light-success: #eafff5;
    --success: #098d4f;
    --secondary: #959595;
    --light-secondary: #e2e2e2;
    --dark: #434343;
}

.mt-5 {
    margin-top: 5px;
}